.root {
    height: 100vh;
    display: flex;
    position: relative;
}



aside {
    background-color: rgb(243, 242, 241);
    width: 15rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: width .3s ease;
    min-height: 100vh;
}

/* 左右两侧栏 */
.warpper {
    margin: 10px 10px;
}

aside i {
    color: #B3E5FC;
}

aside span {
    margin-left: 5px;
}

.user {
    height: 2.5rem;
    display: flex;
}

.avatar img {
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
}

.username {
    margin-left: 15px;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.2rem;
}

.functions {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.groups {
    /* 分组较少时把剩余空间填充完 */
    flex-grow: 1;
    /* 有多个分组时，y轴出现滚轮 */
    overflow-y: auto;
    /* 使最后一个元素不被添加列表按钮遮挡 */
    padding-bottom: 3rem;
}

.list-item {
    height: 3rem;
    line-height: 3rem;
    /* border: 1px solid #000; */
    padding-left: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

.list-item:hover {
    background-color: rgb(250, 250, 250);
    cursor: pointer;
}

.add-list {
    /* position: fixed; 会创建bfc */
    position: fixed;
    bottom: 0;
    height: 3rem;
    width: 13rem;
    /* background-color: yellowgreen; */
}

main {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.contanier {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    background: url(../../img/bg.jpg) no-repeat center;
    background-size: cover;
}

.mask {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, .5);
    position: absolute;
    display: none;
}

.tasksToolbar {
    margin-top: 10px;
    display: flex;
    height: 2rem;
    align-items: center;
}

.menu {
    /* display: none; */
    color: #fff;
    /* margin-top: 10px; */
    width: 25px;
    height: 25px;
}

.tasks {
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-y: auto;
}

.tasks li {
    background-color: rgb(238, 239, 243);
    height: 4rem;
    line-height: 4rem;
    border-radius: 5px;
    margin-top: 5px;
    display: flex;

}

.checkBox {
    color: #0062cc;
    margin: 0 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/* 将后一个i设为绝对定位，浮在checkBox上面，透明度为0。鼠标悬浮时，后一个i透明度变为1 */
.checkBox i:last-child {
    position: absolute;
    opacity: 0;
    transition: opacity .1s;
}

.checkBox:hover i:last-child {
    cursor: pointer;
    opacity: 1;
}

.task-name {
    flex-grow: 1;
}

.importance {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    text-align: center;
    margin-right: 10px;
    transition: all .1s;
    height: 100%;
}

.importance:hover {
    cursor: pointer;
    color: red;
}


.tasks li:hover {
    background-color: rgb(237, 235, 233);
    cursor: pointer;
}

.splitLine {
    width: 80px;
    height: 35px;
    line-height: 35px;
    background-color: #F3F3F3;
    text-align: center;
    border-radius: 2px;
}

.checked .task-name {
    text-decoration: line-through;
    opacity: 0.7;
}

.checked .checkBox i {
    position: static;
    opacity: 1;
}

.task-detail {
    width: 20rem;
    height: 100vh;
    background-color: #EDEBE9;
    /* border: 1px saddlebrown solid; */
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    transition: width .3s ease;

}

.task-detail .warpper>div {
    border: 1px solid #616161;
    border-radius: 3px;
    margin: 10px 0;
    background-color: rgb(253, 253, 253);
}

.task-detail .warpper>div:hover {
    background-color: #F3F3F3;
}

.detail-header {
    height: 4rem;
    border: 1px black solid;
    display: flex;
}

.modify-task-name {
    flex-grow: 1;
    line-height: 4rem;
}


.modify-deadline {
    height: 3rem;
    display: flex;
    justify-content: center;
}

.modify-deadline input {
    border: none;
    background-color: transparent;
}

.modify-note {
    height: 100px;
    overflow: auto;
    padding: 10px;
}

.submit-task-modification {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 150px;
    border: none;
    background-color: #007bff;
    border-color: #007bff;
    text-align: center;
    transition: background-color .3s;
    border-radius: 5px;
    color: #fff;
}

.submit-task-modification:hover {
    cursor: pointer;
    background-color: #0069d9;
    border-color: #0062cc;
}